:root {
	--desaturated-dark-cyan: hsl(180, 29%, 50%);
	/*Background*/
	--light-grayish-cyan--background: hsl(180, 52%, 96%);
	/*Filter Tablets*/
	--light-grayish-cyan--tablets: hsl(180, 31%, 95%);
	--dark-grayish-cyan: hsl(180, 8%, 52%);
	--very-dark-grayish-cyan: hsl(180, 14%, 20%);

	font-size: 15px;
	font-family: 'Spartan', sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--light-grayish-cyan--background);
}

img {
	max-width: 100%;
}

p {
	margin: 0;
}

.hidden {
	display: none;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header-img {
	padding: 5em;
	position: relative;
}

.filters {
	background-color: white;
	border-radius: 10px;
	justify-content: space-evenly;
	position: absolute;
	top: 0;
}

.listings {
	gap: 3em;
	justify-content: space-evenly;
	margin: 4em auto;
	width: 85%;
}

.listing {
	background-color: white;
	border-radius: 5px;
	border-left: 5px solid var(--desaturated-dark-cyan);
	padding: 2em;
	position: relative;
}

.listing__logo {
	position: absolute;
	height: 50px;
	top: -25px;
}

.listing__header {
	gap: .75em;
}

.listing__company {
	color: var(--desaturated-dark-cyan);
	font-size: .9rem;
}

.btn {
	border: none;
	border-radius: 100px;
	color: white;
	font-size: .75rem;
	letter-spacing: 1px;
	padding: .5em .75em;
}

.btn--new {
	background-color: var(--desaturated-dark-cyan)
}

.btn--featured {
	background-color: var(--very-dark-grayish-cyan)
}

.listing__position {
	color: var(--very-dark-grayish-cyan);
	font-size: 1rem;
	margin: .25em 0;
}

.listing__details {
	color: var(--dark-grayish-cyan);
	font-size: .85rem;
	gap: .25em;
	margin: .85em 0;
}

.listing__hr {
	border: none;
	background-color: var(--dark-grayish-cyan);
	height: 1px;
	width: 100%;
}

.listing__filters {
	gap: 1em;
}

.listing__filter__item, .filter__btn {
	background-color: var(--light-grayish-cyan--tablets);
	border: none;
	color: var(--desaturated-dark-cyan);
	font-size: .9rem;
	font-weight: 600;
	letter-spacing: .4px;
	padding: .4em;

}

